/auxil/resume.aux
/auxil/resume.log
/auxil/resume.out
/out/example_resume.aux
/out/example_resume.log
/out/example_resume.out
/out/example_resume.synctex.gz
/out/resume.pdf
/out/resume.synctex.gz
/resume.tex
/out/cover-letter.aux
/out/cover-letter.log
/out/cover-letter.out
/out/cover-letter.pdf
/out/cover-letter.synctex.gz
/out/example_resume.aux
/out/example_resume.log
/out/example_resume.out
/out/example_resume.synctex.gz
/out/resume.pdf
/out/resume.synctex.gz
/resume.tex
/cover-letter.tex
